@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    min-width: 700px;
}

header {
    background: linear-gradient(to right, #FCAD60, transparent);
    height: 60px;
    width: 100%;
}

ul {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-family:"Kdam Thmor Pro", serif ;
}

a {
    color: white;
}

#img {
    background-image: url('imagem/harry-potter-all-characters-lvbwsigjt3yykg3n.jpg');
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 600px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vw;
}
